.header {
  padding: 32px 50px;

  height: 92px;

  background-color: #000000;

  box-sizing: border-box;

  color: #FFFFFFCC;
}

.header__bar { 
  display: flex;
  flex-direction: row;

  justify-content: space-between;
}

.header__group {
  display: flex;

  flex-direction: row;
  justify-content: space-between;
  gap: 25px;
}

.header__list {
  display: flex;

  flex-direction: row;
  gap: 40px;
}

.header__span {
  font-size: 20px;
  font-weight: 500;
  line-height: 24.38px;
  text-align: left;
}

.header__link:hover {
  color: #FFB46B;

  transition: 0.3s;
}

.img__banner {
  height: 100vh;
  filter: brightness(0.6);
  position: relative;
}

.img__span {


  height: 86px;

  font-size: 82.15px;
  font-weight: 600;
  line-height: 85.97px;
  text-align: center;

  position: absolute;

  bottom: 50%;
  right: 50%;

  color: white;

  transform: translate(50%, 50%);
}

.img__banner-slice {
  height: 100vh;
  width: 25%;

  object-fit: cover;
}

.header__link {
  color: white;
  
  font-size: 16px;
  font-weight: 500;
  line-height: 19.5px;
  text-align: left;

  cursor: pointer;
}

